body{
    text-align: center;
    background-color: cyan;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    line-height: 60px;
    font-size: 60px;
    text-align: center;
    color: indigo;
}
h3{
    line-height: 35px;
    font-size: 35px;
    text-align: justify, center;
}
p{
    line-height: 25px;
    font-size: 25px;
    text-align: justify, center;
}
#txt01{
    color: darkorchid;
    text-align: right;
}
#txt02{
    background-color: aqua;
    text-transform: uppercase;
}
img{
    height: 320px;
    width: 320px;
    border-radius: 320px;
}